<nav class="top_menu">
    <ul>
      <li>
         <a href="#">Home</a>
      </li>
      <li>
        <a href="/allOrders">All Orders</a>
     </li>
     <li>
       <a href="#">Types of Roses</a>
    </li>
    </ul>
 </nav>